
{% extends 'base.html' %} {% block content %}

<main class="container py-5">
  <section class="card card-body">
    <h2 class="display-6 text-center">CLINICA SANA SANA COLITA DE RANA</h2>
    {% load static %}
    <img src="{% static 'images/logo.jpg' %}" alt="Logo de la clínica" class="logo-img">
  
    <p>
      ¡Bienvenido a nuestra Clínica Privada de Segundo Nivel! En nuestro espacio
      dedicado al cuidado integral de la salud, ofrecemos una amplia gama de
      servicios diseñados para atender las necesidades médicas básicas y
      especializadas de nuestros pacientes.
    </p>

    <p>
      Nuestros servicios básicos abarcan áreas esenciales como Medicina General,
      Odontología y Enfermería, donde realizamos evaluaciones de signos vitales,
      administración de vacunas, así como un riguroso control de peso y talla
      para garantizar un seguimiento completo de la salud de cada individuo.
    </p>

    <p>
      Para necesidades más específicas, contamos con un equipo especializado en
      diversas ramas de la medicina, incluyendo Cirugía General,
      Ginecoobstetricia, Pediatría y especialidades como Medicina Interna y
      Traumatología. Ya sea una cirugía de emergencia o programada, nuestro
      equipo altamente calificado está listo para brindar la mejor atención
      posible.
    </p>

    <p>
      Además, ofrecemos servicios complementarios vitales como laboratorio
      clínico y estudios imagenológicos, que incluyen radiografías y ecografías.
      Estos recursos nos permiten realizar diagnósticos precisos y proporcionar
      un enfoque holístico para el tratamiento médico.
    </p>

    <p>
      En nuestra clínica, nos esforzamos por proporcionar atención médica de
      calidad, centrada en el paciente y respaldada por tecnología de
      vanguardia. Tu salud y bienestar son nuestra prioridad número uno.
    </p>
  </section>
 

</main>
{% endblock %}
